<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <org.jenkinsci.plugins.teresabuild.TeresaBuilder plugin="teresa-build@1.0-SNAPSHOT">
      <user>eduardo.fcamara@luizalabs.com</user>
      <password>eduardo2000</password>
      <cluster>http://ad4eefd86004911e79d8f0e2b7d28f6c-1121850448.us-east-1.elb.amazonaws.com:8080</cluster>
      <application>back-ml-gestao-fretes</application>
      <clusterName>ml-gestao-fretes</clusterName>
      <command>pwd

</command>
    </org.jenkinsci.plugins.teresabuild.TeresaBuilder>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>